// partials imports
@use './src/partials/variables.scss' as *;

// global app styles
.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: 175px;
    min-width: 100vw;
    min-height: 100vh;

    // dark mode colours
    &.dark {

        // wrapper dark mode
        .wrapper {
            border: solid $white 5px;
        }

        // header and footer dark mode
        header, footer, .wrapper {
            background-color: rgba($color: $black, $alpha: 0.9);
            color: $lightblue;
        }
        header {
            border-bottom: solid $lightblue 5px;
        }
        footer {
            border-top: solid $lightblue 5px;

            // footer link dark mode
            a {
                color: $lightblue;
                &:hover {
                    color: $white;
                }
            }
        }

        // button dark mode
        button {
            background-color: $darkblue;
            color: $lightblue;
            border: solid $lightblue 2px;

            // button on hover dark mode
            &:hover {
                background-color: $lightblue;
                border: solid $darkblue 2px;
                color: $black;
            }

            // remove button on hover dark mode
            &.remove:hover {
                border: solid $black 2px;
            }
        }

        // textbox dark mode
        input[type="text"], fieldset {
            background-color: $darkblue;
            border: solid $lightblue 3px;
            color: $white;
        }

        .notepad fieldset .radioField input[type="radio"] {
            accent-color: $black;
        }

        // note dark mode
        .notebook li {
            color: $white;
            border: solid $lightblue 3px;

            // alternate note colors dark mode
            &.purple {
                background-color: rgba($color: $darkpurple, $alpha: 0.7);
            }
            &.yellow {
                background-color: rgba($color: $darkyellow, $alpha: 0.7);
            }
            &.green {
                background-color: rgba($color: $darkgreen, $alpha: 0.7);
            }
            &.pink {
                background-color: rgba($color: $darkpink, $alpha: 0.7);
            }
        }
    }
}

// wrapper styles
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: $lightblue, $alpha: 0.9);
    border: solid $black 5px;
    border-radius: 15px;
    width: 80%;
    max-width: 650px;
    min-height: 150px;
    margin: 25px auto;
    padding: 15px;
    padding-bottom: 10px;
}

// header and footer styles
header, footer {
    width: 100vw;
    background-color: rgba($color: $lightblue, $alpha: 0.9);

    // header and footer text styles
    h1, h2, p {
        text-align: center;
        padding: 0 25px;
    }
}
header {
    display: flex;
    flex-direction: column;
    border-bottom: solid $black 5px;
    height: 200px;
    align-items: center;
    justify-content: center;

    // main heading styles
    h1 {
        font-family: $title;
        font-size: 60px;
        margin: 5px 0;
        padding: 0;
        text-transform: uppercase;
    }

    // subheading styles
    h2 {
        font-size: 20px;
        margin: 5px 0;
        margin-bottom: 10px;
        padding: 0;
    }
    button {
        width: 120px;
    }
}
footer {
    border-top: solid $black 5px;

    // footer link styles
    a {
        color: $darkblue;
        &:hover {
            color: $black;
        }
    }
}

// notepad section styles
.notepad {
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    fieldset {
        background-color: $lightblue;
        display: flex;
        flex-flow: row wrap;
        margin: 5px 0px;
        margin-bottom: 10px;
        justify-content: space-evenly;
        border: solid $black 3px;
        border-radius: 5px;
        .radioField {
            display: flex;
            flex-flow: row;
            justify-content: center;
            align-items: center;
            font-size: 15px;
            margin: 5px 0px;
            input[type="radio"] {
                height: 1.2rem;
                width: 1.2rem;
                margin-right: 0.5rem;
                accent-color: $darkblue;
                &:hover {
                    cursor: pointer;
                }
            }
            &:hover {
                cursor: pointer;
            }
        }
    }

    // textbox styles
    input[type="text"] {
        background-color: $white;
        padding: 15px;
        margin: 5px 0px;
        width: 500px;
        height: 50px;
        border: solid $black 3px;
        border-radius: 5px;
        font-family: $sans-serif;
        font-size: 15px;
    }

    // buttons container styles
    .buttons {
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5px;
    }
}

// button styles
button {
    width: 90px;
    height: 30px;
    margin: 5px 0;
    background-color: $white;
    border: solid $black 2px;
    border-radius: 5px;
    font-family: $sans-serif;
    font-size: 15px;

    // button on hover
    &:hover {
        cursor: pointer;
        background-color: $darkblue;
        color: $white;
    }

    // remove button
    &.remove {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 10px;
        font-weight: 600;
        width: 25px;
        height: 25px;
        margin: 5px;
        border-radius: 50%;
    }

    // remove all button
    &.removeAll {
        width: 175px;
        margin-top: 0;
        margin-bottom: 10px;
    }
}

// notebook section styles
.notebook {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 10px;
    margin: 0;

    // note styles
    li {
        margin: 5px;
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
        border: solid $black 3px;
        border-radius: 5px;
        color: $black;
        text-align: center;
        width: 200px;
        height: 175px;
        list-style-type: none;

        // note text styles
        p {
            font-size: 15px;
            margin: 10px;
            overflow-wrap: break-word;
        }

        // alternate note colors
        &.purple {
            background-color: rgba($color: $lightpurple, $alpha: 0.7);
        }
        &.yellow {
            background-color: rgba($color: $lightyellow, $alpha: 0.7);
        }
        &.green {
            background-color: rgba($color: $lightgreen, $alpha: 0.7);
        }
        &.pink {
            background-color: rgba($color: $lightpink, $alpha: 0.7);
        }
    }
}

// responsive styles for tablet and smaller
@media only screen and (max-width: 750px) {

    // notepad section styles
    .notepad {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;

        // input section styles
        .input {
            width: calc(100% - 40px);
        }

        // textbox styles
        input[type="text"] {
            width: calc(100% - 6px);
            margin: 5px;
        }

        // radio fieldset styles
        fieldset {
            width: 100%;
            margin: 5px;
            margin-top: 10px;
            justify-content: center;

            // radio field styles
            .radioField {
                width: 50%;
                justify-content: left;
            }
        }

        // buttons container styles
        .buttons {
            gap: 15px;
            padding: 5px 0px;
            flex-direction: row;
            align-self: center;

            // button styles
            button {
                margin-bottom: 0;
            }
        }
    }

    // notebook section styles
    .notebook {
        width: 100%;

        // note styles
        li {
            width: 100%;
            height: 115px;
        }
    }
}