<div class="app">

  <!-- header section -->
  <header>
    <h1>Note Taken</h1>
    <h2>Your friendly little local storage notes app</h2>
  </header>

  <!-- mobile nav -->
  <nav>
    <button *ngIf="mobileView !== 'info'" class="mobile-nav-link about" (click)="toggleMobileView('info')">
      <p>About the site</p>
    </button>
    <button *ngIf="mobileView === 'info'" class="mobile-nav-link about open" (click)="toggleMobileView('notepad')">
      <p>Back to the site</p>
    </button>
    <button *ngIf="allNotes.length === 0 && mobileView !== 'info'" class="mobile-nav-link" disabled>
      <p>Notebook (0)</p>
    </button>
    <button  *ngIf="allNotes.length > 0 && mobileView === 'notepad'" class="mobile-nav-link" (click)="toggleMobileView('notebook')">
      <p>Notebook ({{allNotes.length}})</p>
    </button>
    <button  *ngIf="allNotes.length > 0 && mobileView === 'notebook'" class="mobile-nav-link" (click)="toggleMobileView('notepad')">
      <p>Notepad</p>
    </button>
  </nav>

  <!-- main section -->
  <main>

    <!-- notepad section -->
    <div class="notepad" class="{{noteColor}} {{mobileView === 'notebook' || mobileView === 'info' ? 'disabled' : ''}}">

      <!-- notepad colour options -->
      <div class="notepad-options">
        <p>Note colour:</p>
        <select [(ngModel)]="noteColor">
          <option value="green">green</option>
          <option value="blue">blue</option>
          <option value="red">red</option>
          <option value="pink">pink</option>
          <option value="yellow">yellow</option>
          <option value="orange">orange</option>
        </select>
      </div>

      <!-- notepad text area -->
      <textarea [(ngModel)]="inputtedText" maxlength="100" wrap="hard" placeholder={{placeholder}} (keydown.enter)="saveNote($event)"></textarea>

      <!-- notepad save and clear buttons -->
      <div class="notepad-buttons">
        <button *ngIf="inputtedText" (click)="saveNote($event)">Save</button>
        <button *ngIf="!inputtedText" disabled>Save</button>

        <button *ngIf="inputtedText" (click)="clearText()">Clear</button>
        <button *ngIf="!inputtedText" disabled>Clear</button>
      </div>

    </div>

    <!-- notebook section -->
    <div class="notebook {{mobileView === 'notepad' || mobileView === 'info' ? 'disabled' : ''}}">

      <!-- notebook sort and filter options -->
      <div class="notebook-options">

        <div class="timeSort">
          <p>Sort order:</p>
          <select [(ngModel)]="timeSort" disabled="{{filteredNotes.length <= 1 ? true : false}}">
            <option value="newest">newest first</option>
            <option value="oldest">oldest first</option>
          </select>
        </div>

        <div class="colorFilter">
          <p>Filter by colour:</p>
          <select [(ngModel)]="colorFilter" (ngModelChange)="filterNotesByColor()" disabled="{{noteColors.length <= 1 ? 'true' : 'false'}}">
            <option value="all">all</option>
            <option *ngFor="let color of noteColors; index as i" value={{color}}>{{color}}</option>
          </select>
        </div>

      </div>

      <!-- notebook list in descending order -->
      <ul *ngIf="timeSort === 'newest'" class="notes-list">
        <li *ngFor="let note of filteredNotes.slice().reverse(); index as i" class="{{note.color}} {{mobileView === 'notebook' ? 'active' : ''}}">
          <button class="edit" (click)="editNote(i)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="delete" (click)="deleteNote(i)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <p>{{note.text}}</p>
          <p class="metadata">
            {{note.meta.date}} @ {{note.meta.time}}
          </p>
        </li>
      </ul>

      <!-- notebook list in ascending order -->
      <ul *ngIf="timeSort === 'oldest'" class="notes-list">
        <li *ngFor="let note of filteredNotes.slice(); index as i" class="{{note.color}}">
          <button class="edit" (click)="editNote(i)">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
          <button class="delete" (click)="deleteNote(i)">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <p>{{note.text}}</p>
          <p class="metadata">
            {{note.meta.date}} @ {{note.meta.time}}
          </p>
        </li>
      </ul>

      <!-- notebook delete all button and note counter -->
      <div class="notebook-buttons">

        <div class="notes-remaining">
          <p>Notes:</p>
          <div class="counter">
            <p>{{allNotes.length}} / 20</p>
          </div>
        </div>

        <button *ngIf="filteredNotes.length > 0 && colorFilter === 'all'" (click)="deleteAll()">Delete all</button>
        <button *ngIf="filteredNotes.length <= 0 || colorFilter !== 'all'" disabled>Delete all</button>
      </div>

    </div>
    
  </main>

  <!-- footer section -->
  <footer class="{{mobileView !== 'info' ? 'disabled' : ''}}">
    <p>
      Note Taken was built by <a href="https://danateagle.com">Dana Teagle</a> in 2023 using Angular, Typescript, and SASS. Any user of the app can store up to 20 notes at a time (each up to 100 characters in length). All inputted data is stored locally without being sent to a database. Unless deleted, the notes will remain in your browser until the next time you clear the cache. See the repo for the application <a href="https://github.com/torontopubliclibra/note-taken">here</a>.
    </p>
  </footer>

</div>

<router-outlet></router-outlet>