<!-- app section with dynamic class and backgroundImage dependent on darkMode value -->
<div class="app {{darkMode ? 'dark' : 'light'}}" [ngStyle]="{'backgroundImage': !darkMode ? 'url(./assets/pigeon-bg.jpg)' : 'url(./assets/pigeon-bg-dark.jpg)'}">

  <!-- header section -->
  <header>
    <h1>Pigeon Pad</h1>
    <h2>Just a space for your thoughts</h2>

    <!-- dark mode button -->
    <button (click)="turnOnDark()">{{darkMode ? 'Light' : 'Dark'}} Mode</button>
  </header>

  <!-- main section -->
  <main class="wrapper">

    <!-- notepad section -->
    <div class="notepad">

      <!-- text box with max length of 85 characters and value of textareaValue (saves on enter)-->
      <input type="text" [(ngModel)]="textareaValue" maxlength="85" placeholder="Add a note" (keydown.enter)="save()">

      <!-- save and clear function buttons -->
      <div class="buttons">
        <button (click)="save()">Save</button>
        <button (click)="clear()">Clear</button>
      </div>

    </div>

    <!-- notebook section -->
    <ul class="notebook">

      <!-- loop through notes array and render list item for each with remove button-->
      <li
        *ngFor="let note of notes; index as i" class="{{noteColor(i)}}">
        <button class="remove" (click)="remove(i)">X</button>
        <p>{{note}}</p>
      </li>

    </ul>

    <!-- render removeAll button if notes has content -->
    <div *ngIf="notes.length > 0" class="buttons">
      <button class="removeAll" (click)="removeAll()">Remove all notes</button>
    </div>
    
  </main>

  <!-- footer section -->
  <footer>
    <p>This app was built by <a href="https://danateagle.com">Dana Teagle</a> in 2023 using Angular and Typescript.</p>
  </footer>

</div> <!-- end of app div -->

<router-outlet></router-outlet>
