.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-size: 175px;
    min-width: 100vw;
    min-height: 100vh;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    border: solid #000 5px;
    border-radius: 15px;
    width: 80%;
    max-width: 750px;
    min-height: 150px;
    margin: 25px auto;
    padding: 15px;
    padding-bottom: 10px;
}
header, footer {
    width: 100vw;
    background-color: aliceblue;
    h1, h2, p {
        text-align: center;
        padding: 0 25px;
    }
}
header {
    display: flex;
    flex-direction: column;
    border-bottom: solid #000 5px;
    height: 150px;
    align-items: center;
    justify-content: center;
    h1 {
        font-size: 55px;
        margin: 5px 0;
        padding: 0;
        text-transform: uppercase;
    }
    h2 {
        font-size: 20px;
        margin: 5px 0;
        margin-bottom: 10px;
        padding: 0;
    }
}
footer {
    border-top: solid #000 5px;
    a {
        color: #446488;
        &:hover {
            color: #000;
        }
    }
}
.notepad {
    display: flex;
    flex-direction: row;
    align-items: center;
    .buttons {
        padding-left: 15px;
    }
}

input[type="text"] {
    padding: 15px;
    margin: 5px 0px;
    width: 300px;
    height: 50px;
    border: solid #000 3px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}

button {
    width: 100px;
    height: 30px;
    margin: 5px 0;
    background-color: #fff;
    border: solid #000 2px;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    &:hover {
        cursor: pointer;
        background-color: #446488;
        color: #fff;
    }
    &.remove {
        font-size: 10px;
        font-weight: 600;
        width: 25px;
        height: 25px;
        margin: 5px;
        border-radius: 50%;
    }
    &.removeAll {
        width: 250px;
    }
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}
.notebook {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    padding: 5px 0px;
    margin: 0;
    li {
        margin: 5px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border: solid #5A81B1 5px;
        border-radius: 5px;
        color: #000;
        text-align: center;
        width: 150px;
        height: 125px;
        list-style-type: none;
        p {
            font-size: 15px;
            margin: 10px;
            overflow-wrap: break-word;
        }
    }
}
@media only screen and (max-width: 768px) {
    .notepad {
        flex-direction: column;
        .buttons {
            padding: 0;
            flex-direction: row;
        }
    }
    .buttons {
        gap: 15px;
    }
    .notebook li {
        width: 125px;
        height: 115px;
    }
    input[type="text"] {
        width: 100%;
    }
}