@use './src/partials/variables.scss' as *;
@use './src/partials/typography.scss' as *;

.alert {
    background-color: $color2;
    border: solid $black 5px;

    width: 575px;
    height: 175px;
    padding: 25px;

    position: fixed;
    top: 175px;
    right: calc(50% - 295px);
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;

    p {
        line-height: 2;
        margin-bottom: -5px;
    }

    .buttons {
        display: flex;
        justify-content: center;
        gap: 15px;

        .back {
            width: 80px;
            height: 30px;

            position: absolute;
            top: 10px;
            left: 15px;
        }
        
        .action {
            max-width: 325px;
            width: 100%;
            min-width: 285px;

            &.export {
                height: 75px;
            }
        }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        background-color: $color1;

        height: 140px;
        width: 280px;
        padding-top: 50px;

        right: calc(100% - (50vw + 170px));
        top: calc(100% - (60vh + 100px));
    }
}

header {
    background-color: $color2;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1, h2 {
        width: 95%;
        max-width: 1450px;
    }

    button {
        width: 120px;
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        padding-bottom: 15px;
        border-bottom: solid $black 3px;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    width: 75%;
    max-width: 1000px;
    height: 450px;

    background-color: $color1;
    border: solid $black 3px;

    padding: 25px;
    margin: 0 auto;

    &.disabled {
        display: none;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {

        width: calc(100% - 99px);
        max-height: 500px;
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {

        background-color: $color1;
        border: none;
        padding: 0;
        margin: 0;

        width: calc(100% - 43px);
        max-width: 100vw;
        min-height: calc(100vh - 225px);
    }
}

nav {
    width: 95%;
    max-width: 1450px;
    padding: 10px;
    margin: 0 auto;
    margin-top: -75px;

    display: flex;
    justify-content: right;

    .nav-link {
        display: none;

        &.about {
            width: 200px;

            display: block;

            &:hover, &:focus {
                background-color: rgba($white, 0.75);
            }
        }
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        gap: 20px;

        .nav-link {
            height: 40px;
            width: 175px;

            display: block;

            &.about {
                &:hover, &:focus {
                    background-color: $white;
                }
            }
        }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        background-color: $color1;

        height: 50px;
        width: calc(100% - 20px);
        margin: 0 auto;

        display: flex;
        justify-content: center;
        align-items: center;

        .nav-link.about {
            width: 175px;

            &.back {
                width: 370px;
            }
        } 
    }
}

main {
    width: 95%; 
    max-width: 1450px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        flex-wrap: wrap;
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        background-color: $color2;
        
        width: 100%;
        max-width: 100%;
        margin: 0;

        flex-direction: column;
    }
}

.notepad {
    border: solid $black 3px;

    height: 500px;
    min-width: 300px;
    max-width: 340px;
    margin: 0;

    display: flex;
    flex-direction: column;

    &.disabled {
        display: none;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        height: 500px;
        min-width: calc(100% - 6px);
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        border-right: none;
        border-left: none;
        border-bottom: none;

        height: calc(100vh - 210px);
        width: 100%;
        max-width: 100%;
        margin: 0 auto;

        position: relative;
    }

    .notepad-colours, .notepad-buttons {
        padding: 5px 20px;

        display: flex;
        align-items: center;
        gap: 20px;
    }
    .notepad-colours {
        background-color: $color1;
        border-bottom: solid $black 2px;

        min-height: 55px;

        flex-flow: row wrap;
        justify-content: space-between;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            border-bottom: solid $black 3px;

            min-height: 70px;
            padding: 0 50px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            background-color: $color2;
            border-top: solid $black 3px;

            width: calc(100% - 60px);
            max-height: 45px;
            min-height: unset;
            padding: 15px 30px;

            gap: 0;
            order: 2;
            bottom: 70px;
        }
    }
    .notepad-buttons {
        background-color: $color1;
        border-top: solid $black 2px;

        width: calc(100% - 40px);
        min-height: 60px;

        flex-direction: row-reverse;
        justify-content: space-between;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            border-top: solid $black 3px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            border: none;

            width: calc(100% - 20px);
            padding: 10px;
            padding-bottom: 3px;

            justify-content: center;
            gap: 20px;
            order: 3;
        }
    }
}

textarea {
    background: none;
    border: none;

    width: calc(100% - 30px);
    height: 100%;
    padding: 15px;
    margin: 0;

    display: flex;
    resize: none;

    &:focus-visible {
        outline: none;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        max-height: 375px;
    }
    
    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        width: calc(100% - 50px);
        min-height: 60px;
        max-height: 100%;
        padding: 25px;
        padding-bottom: 0;
    }
}

input {
    background-color: $white;
    border: solid $black 2px;

    height: 40px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 10px;
    margin: 5px 0;

    transition: none;

    &:hover {
        background-color: rgba($white, 0.75);

        transition: 0.3s;
    }
    &:disabled {
        background-color: rgba($color2, 0.5);
        color: rgba($black, 0.75);
        box-shadow: inset 0px 0px 0.5px 0.5px rgba($black, 0.5);

        &:hover {
            background-color: rgba($color2, 0.5);
            cursor: default;
        }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        box-shadow: inset 0px 0px 0.5px 0.5px rgba($black, 0.5);
        
        height: 40px;

        &:hover {
            background-color: $white;
        }
    }
}

input {
    height: 36px;
    width: 100%;
    max-width: 640px;
    padding-left: 20px;

    &:hover, &:focus {
        background-color: rgba($white, 0.75);
        box-shadow: inset 0px 0px 2px 2px rgba($black, 0.5);
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        padding-left: 20px;
    }
}

button {
    background-color: $white;
    border: solid $black 2px;
    box-shadow: inset 0px 0px 0.5px 0.5px rgba($black, 0.5);

    width: 130px;
    height: 40px;
    margin: 5px 0;

    cursor: pointer;
    transition: 0.3s;

    &:hover, &:focus {
        background-color: rgba($white, 0.9);
        box-shadow: inset 0px 0px 2px 2px rgba($black, 0.5);
    }
    &:disabled {
        background-color: rgba($white, 0.5);
        color: rgba($black, 0.75);
        box-shadow: inset 0px 0px 0.5px 0.5px rgba($black, 0.5);

        &:hover {
            background-color: rgba($white, 0.5);

            transition: none;
            cursor: default;
        }
    }

    &.all-filter:disabled, &.sorting:disabled {
        background-color: rgba($white, 0.75);
        box-shadow: inset 0px 0px 2px 2px rgba($black, 0.5);
    }

    &.all-filter {
        width: 80px;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 60px;
        }
    }
    
    &.sorting {
        width: 115px;
    }

    &.color-button {
        width: 25px;
        height: 25px;

        transform: rotate(45deg);

        &:disabled, &:hover {
            box-shadow: inset 0px 0px 5px 3px rgba($black, 0.5);
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 30px;
            height: 30px;

            &:disabled, &:disabled:hover {
                box-shadow: inset 0px 0px 5px 3px rgba($black, 0.5);
            }
        }
    }

    // responsive to mobile
    @media only screen and (max-width: $tablet) {
        width: 175px;
        height: 40px;

        &:hover, &:focus, &:disabled {
            box-shadow: inset 0px 0px 0.5px 0.5px rgba($black, 0.5);
        }
    }

    &.delete {
        width: 75px;
        right: 0;
    }

    &.edit {
        width: 55px;
        left: 0;
    }

    &.delete, &.edit {
        height: 25px;
        margin: 5px;

        position: absolute;
        top: 0;
        z-index: 20;

        &:hover {
            box-shadow: inset 0px 0px 1px 1px rgba($black, 0.5);
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            background-color: $white;

            width: 80px;
            height: 35px;
        }
    }

    &.deleteAll, &.export {
        min-width: 165px;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: calc(50% - 10px);
        }

    }
}

.notebook {
    background-color: $color1;
    border: solid $black 3px;

    min-width: 500px;
    width: 100%;
    height: 500px;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    &.disabled {
        display: none;
    }

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        height: 500px;

        &.disabled-2 {
            display: none;
        }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        background-color: $color2;
        border-right: none;
        border-left: none;
        border-bottom: none;
        
        min-height: 275px;
        height: calc(100vh - 191px);
        min-width: 100%;
        width: 100%;
        max-width: 100%;
        padding-bottom: 10px;
        margin: 0 auto;

        &.no-header {
            height: calc(100vh - 68px);

            .notes-list {
                height: calc(100% - 200px);
            }
        }
    }

    .notebook-filter-sort, .notebook-search, .notebook-buttons {
        width: calc(100% - 40px);
        padding: 5px 20px;

        .notebook-toggle {
            width: calc(100% - 40px);
            min-width: 165px;
            margin: 7px 25px 10px 25px;
        }

        .color-button {
            width: 20px;
            height: 20px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: calc(100% - 50px);
            padding: 10px 25px;

            .color-button {
                width: 20px;
                height: 20px;
            }
        }
    }

    .notebook-filter-sort, .notebook-buttons, .notes-remaining, .notebook-search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .notebook-search {
        background-color: $color2;
        border-bottom: solid $black 2px;

        min-height: 50px;
        padding-top: 8px;
        padding-bottom: 8px;

        justify-content: flex-start;
        gap: 10px;

        p {
            min-width: 65px;
        }

        &.disabled {
            display: none;
        }

        .clear-search {
            width: 175px;

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                width: 150px;
                padding: 0;
            }
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            display: none;

            &.active {
                background-color: $color2;
                border-bottom: none;

                padding: 0px 25px 0px 25px;
                padding-bottom: 27px;

                display: flex;
                justify-content: center;
                order: 5;
    
                p {
                    min-width: unset;
                }
            }
        }
    }

    .notebook-filter-sort {
        border-bottom: solid $black 2px;

        width: 100%;
        margin: 5px;
        margin-bottom: 0;
        padding: 0;
        padding-bottom: 5px;

        flex-flow: row wrap;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            background: none;
            border: none;

            width: 100%;
            margin: 0;
            padding: 0;

            display: none;

            overflow: hidden;

            &.active {
                border-top: solid $black 3px;

                padding-top: 13px;

                display: initial;
                flex-flow: row-reverse nowrap;
                justify-content: center;
                order: 5;
                gap: 20px;
            }

        }
    }

    .notebook-buttons {

        border-top: solid $black 2px;

        min-height: 60px;

        flex-direction: row-reverse;
        flex-wrap: wrap;
        gap: 15px;

        overflow: hidden;

        .buttons {
            display: flex;
            justify-content: flex-end;
            flex-direction: row-reverse;
            gap: 20px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            display: none;

            &.active {
                background-color: $color2;
                border-top: solid $black 3px;

                width: 100%;
                padding: 0;
                padding-bottom: 17px;

                display: flex;
                flex-flow: row wrap;
                align-items: first baseline;
                justify-content: left;
                gap: 0;
                order: 3;

                position: absolute;
                bottom: 0;
                z-index: 50;

                .buttons {
                    width: 100vw;
                    padding: 0px 25px 5px 25px;

                    display: flex;
                    justify-content: center;
                }

                p {
                    margin: 0;
                }

                .notebook-toggle {
                    margin-bottom: 10px;
                }
            }
        }
        
        .notebook-toggle {
            display: none;

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                width: calc(50% - 35px);
                margin-bottom: 15px;
                margin-left: 10px;
                margin-right: 25px;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 10px;
            }
        }

        .notes-remaining {
            justify-content: space-between;
            gap: 15px;

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                width: calc(50% - 35px);
                margin-top: 20px;
                margin-bottom: 10px;
                margin-right: 10px;
                margin-left: 25px;
            }
        }

    }

    .filter-options, .sort-options {
        background-color: $color1;

        min-height: 55px;
        margin: 0 20px;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    .filter-buttons, .sort-buttons {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            width: 100%;

            justify-content: flex-end;
        }

    }


    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        .sort-buttons {
            button {
                width: calc(50% - 10px);
            }
        }
        .filter-buttons {
            flex-direction: row-reverse;
            gap: 15px;
        }
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        .filter-options {
            background-color: $color2;
    
            padding: 0;
            padding-left: 25px;
            padding-right: 25px;
            margin: 0;
            margin-bottom: 10px;
        }
        .sort-options {
            display: none;
        }
    }

    .notebook-buttons .counter {
        background-color: $color2;
        box-shadow: inset 0px 0px 0.5px 0.5px rgba($black, 0.5);
        border: solid $black 2px;

        height: 36px;
        width: 100px;
        padding-right: 1px;

        display: flex;
        align-items: center;
        justify-content: center;

        cursor: default;

        p {
            margin: 0;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            background-color: rgba($color1, 0.5);

            width: 100%;
            min-width: 75px;
            height: 36px;
        }
    }

    .notes-list {
        background-color: $white;

        min-width: calc(100% - 40px);
        height: 400px;
        padding: 20px;
        margin: 0;
        
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;

        overflow-y: scroll;

        .empty-notes {
            max-width: 85%;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            min-width: 100%;
            max-width: 100%;
            min-height: 100px;
            height: calc(100% - 140px);
            padding: 0;

            gap: 15px;
        }

        li {
            border: solid $black 3px;
            color: $black;

            width: 240px;
            height: 240px;

            display: flex;
            justify-content: center;
            flex-direction: column;

            position: relative;

            // responsive to tablet
            @media only screen and (max-width: $tablet) {
                width: calc(100% - 46px);
                max-width: 600px;
                height: 200px;
                margin: 0;
            }

            // responsive to mobile
            @media only screen and (max-width: $mobile) {
                max-width: 100vw;
                height: 280px;

                &:first-of-type {
                    margin-top: 15px;
                }
                &:last-of-type {
                    margin-bottom: 25px;
                }
            }

            p {
                margin: 20px 10px;
                overflow-wrap: break-word;

                &.note-text {
                    text-transform: none;
                }

                // responsive to mobile
                @media only screen and (max-width: $mobile) {
                    margin: 35px 20px 0 20px;
                }
            }

            .metadata {
                background-color: $color2;
                border-top: solid $black 2px;

                width: 100%;
                margin: 0;
                padding: 5px 0;

                position: absolute;
                bottom: 0;

                // responsive to mobile
                @media only screen and (max-width: $mobile) {
                    background-color: $color1;
                    border-top: none;
                    border-bottom: solid $black 2px;

                    padding: 15px 0;

                    top: 0;
                    bottom: unset;
                }
            }
        }
    }
}