@use './src/partials/variables.scss' as *;

// font import
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Martian+Mono:wght@600&display=swap');

// font variables
$monospace: 'Martian Mono', monospace;
$handwriting: 'Homemade Apple', cursive;

.alert {
    text-align: center;
}

.notes-list li {
    list-style-type: none;
    text-align: center;
}

p, button, input {
    font-family: $monospace;
    text-transform: lowercase;
    font-size: 12px;
}

button {
    &.edit, &.delete {
        font-size: 10px;
        line-height: 1.4;
    }

    &:hover, &:focus, &:disabled {
        font-style: italic;
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        font-style: italic;
    }
}

input {
    text-align: left;
    font-style: italic;

    &:hover, &:focus {
        font-style: italic;
    }

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        font-style: italic;
    }
}

h1, h2 {
    text-align: left;

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        text-align: center;
    }
}

h1 {
    font-family: $handwriting;
    font-size: 45px;
    margin: 10px 0 -20px 0;
    padding: 0 0 0 20px;
    cursor: default;
}

h2 {
    font-size: 14px;
    font-style: italic;
    margin: 0;
    padding: 0 0 20px 10px;

    // responsive to mobile
    @media only screen and (max-width: $mobile) {
        padding-bottom: 0;
    }
}

textarea {
    font-family: $handwriting;
    text-transform: none;
    font-size: 19px;
    line-height: 2;
    text-align: center;

    // responsive to tablet
    @media only screen and (max-width: $tablet) {
        font-size: 21px;
    }
}

.notebook .notes-list {
    .empty-notes p {
        font-family: $monospace;
        font-style: italic;
        font-size: 16px;
    }

    p {
        font-family: $handwriting;
        font-size: 14px;
        line-height: 1.5;

        // responsive to tablet
        @media only screen and (max-width: $tablet) {
            font-size: 18px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            font-size: 22px;
        }

        &.metadata {
            font-family: $monospace;
            font-size: 10px;
        }
    }
}

footer {
    font-style: italic;
    text-align: center;
    line-height: 1.75;
    
    p {
        font-size: 14px;
        margin: 0 25px;
        padding: 20px;
        background-color: $white;
        border: solid $black 2px;
        &:last-of-type {
            background-color: $color2;
            margin: 0 50px;
        }

        // responsive to mobile
        @media only screen and (max-width: $mobile) {
            font-size: 13px;
            width: calc(100% - 17px);
            padding: 0 30px;
            margin: 0;
            border: none;
            display: flex;
            background-color: $color2;
            height: 100%;
            max-height: calc(100% - 75px);
            align-items: center;
            justify-content: center;
            overflow-y: scroll;

            &:first-of-type {
                border-top: solid $black 3px;
                border-bottom: solid $black 3px;
            }

            &:last-of-type {
                font-size: 11.5px;
                background-color: $color1;
                max-height: 75px;
                min-width: calc(100vw - 40px);
                padding: 25px;
                padding-bottom: 20px;
                overflow-y: hidden;
                margin: 0 auto;
            }
        }
    }
    a {
        color: $black;
        transition: 0.3s;
    }
}

nav {
    .nav-link p {
        margin: 0;
    }
}