// color variables
$white: #E0D8E0;
$black: #282b2c;
$color1: #A99AC1;
$color2: #CAC8E4;
$yellow: #EAD05D;
$red: #CA3F54;
$blue: #5F88BF;
$green: #82C4AC;
$pink: #DF87A1;
$orange: #F4A261;

// responsive sizing variables
$tablet: 1025px;
$mobile: 768px;