// color variables
$white: #fff;
$black: #282b2c;
$color1: #d5c6e0;
$color2: #ffeef0;
$yellow: #fcd757;
$red: #d64550;
$blue: #89c2d9;
$green: #9cc5a1;
$pink: #e694be;
$orange: #f4a261;

// font variables
$sans-serif: 'Open Sans', sans-serif;
$handwriting: 'Caveat', cursive;

// responsive sizing variables
$tablet: 970px;
$mobile: 768px;