// color variables
$white: #fff;
$black: #000;
$lightblue: aliceblue;
$darkblue: #446488;
$lightpurple: rgb(197, 149, 197);
$darkpurple: rgb(104, 70, 104);
$lightyellow: rgb(222, 222, 123);
$darkyellow: rgb(142, 142, 74);
$lightgreen: rgb(116, 158, 116);
$darkgreen: rgb(67, 93, 67);
$lightpink: pink;
$darkpink: rgb(163, 77, 90);

// font variables
$sans-serif: 'Open Sans', sans-serif;
$title: 'Righteous', cursive;