// partials imports
@use './src/partials/variables.scss' as *;
@use './src/partials/typography.scss' as *;

html {
    min-height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

// global body styles
body {
    max-height: 1000px;
    background-color: $color2;
    margin: 0 auto;
    font-family: $monospace;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: lowercase;

    .app {
        width: 100vw;
    }

    button, input, select {
        letter-spacing: 1px;
    }

    // responsive to tablet
    @media only screen and (max-width: $mobile) {
        background-color: $color1;
        max-height: 100vh;
        overflow-y: hidden;
    }
}