// partials imports
@use './src/partials/variables.scss' as *;

// font import
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&display=swap');

// global body styles
body {
    margin: 0 auto;
    background-color: $lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $sans-serif;
}