// font import
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

// global body styles
body {
    margin: 0 auto;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}